
# Ignore everything
*

# Allow gitignore itself
!.gitignore

# Allow source code files
!**/*.c
!**/*.cpp
!**/*.h
!**/*.hpp

# Allow CMake and ROS files
!CMakeLists.txt
!package.xml
!README.md

# Allow your working folders
!HAL/
!Services/

# Allow contents inside them
!HAL/**
!Services/**
