
# Ignore everything
*

# Allow gitignore itself
!.gitignore

# Allow source code files
!**/*.c
!**/*.cpp
!**/*.h
!**/*.hpp

# Allow CMake and ROS files
!CMakeLists.txt
!package.xml
!README.md

# Allow your working folders
!.images/
!HAL/
!Services/

# Allow contents inside them
!HAL/**
!Services/**

# Allow image files (for README)
!**/*.png
!**/*.jpg
!**/*.jpeg
!**/*.gif
!**/*.svg
